@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-background text-main-font font-sans;
}

/* Custom scrollbar styles */
.scrollable-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

input::file-selector-button {
  background-color: #005f6a;
  border: 0;
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #fefdfc; /* Track color */
  border-radius: 9999px; /* Rounded track */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #6e2617; /* Main color of the thumb */
  border-radius: 9999px; /* Rounded thumb */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: #5a1e13; /* Darker shade of the main color when hovered */
}

.scrollable-container {
  scrollbar-width: thin; /* Firefox support */
  scrollbar-color: #6e2617 #fefdfc; /* Thumb and track color for Firefox */
}
input, optgroup, select {
  background-color: #e6e6d7;
}

.p-datepicker {
  min-width: 332px !important;
}

.add-activity .ql-toolbar.ql-snow {
  display: flex !important;
    justify-content: center;
}
